@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: #e35c5c;
}

h3,
h2,
.texts {
  font-family: "orbitron";
}
.navbar {
  font-family: "orbitron";
  font-weight: bold;
}
.text-light {
  font-size: 25px;
}
p {
  font-size: 20px;
  font-family: "orbitron";
}
.formula-logo {
  width: 30%;
  height: 30%;
}
button,
.button {
  font-size: 20px;
  font-family: "orbitron";
  font-weight: bold;
}
.link {
  font-weight: bold;
}
.race {
  border-radius: 50px;
}
