@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
body {
  background-color: rgb(136, 96, 96);
}
.logo {
  width: 20%;
  height: 20%;
}
.description {
  font-family: "orbitron";
}

p,
li {
  font-size: 18px;
  color: #000000;
}
.link {
  font-weight: bold;
}
